body{
    background: #FDB0AA;
    background-image: url('img/ChatGPT_Image_2_juin_2025_a_14_30_09.webp');
    background-size: cover;         
    background-repeat: no-repeat;   
    background-position: center;    
    height: 100vh; 

}

.grille {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 600px;
    margin: 50px auto;
}

.grille button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
}

.grille button:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    transform: scale(1.05);
}

.grille button:active{
    transform: scale(0.95);
}

.textBoutonQuestion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#questionText{
    /*color:rgb(119, 119, 119);*/
    color: white;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.5);
}

.grille{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}